.placeholder2 {
  border: 2px dotted black;
  background-color: aliceblue;
}

* a {
  text-decoration: none;
}

#content {
  margin-left: 3%;
  margin-right: 3%;

}

li {
  list-style-type: none;
}

#course-title {
  width: 20%;
  height: 50%;
  margin: auto;

}

#course-title a {
  text-decoration: none;

  color: #f1f1f1;
  width: 50%;
  margin-left: 15%;
}

#header-main {
  display: flex;
  background-color: rgb(39, 192, 82);
  border-bottom: 4px solid rgb(27, 225, 243);
  margin-bottom: 10px;
}

#topnav {
  display: flex;
  width: 80%;
  display: flex;
  flex-direction: row;
}

#account {
  /* margin-top: 0.5%; */
  margin-right: 5%;
  width: 30%;
  border: 6px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: white;
}

/* search bar*/
.search-input {
  width: 35%;
  /* Full width */
  max-width: 600px;
  /* Maximum width */
  padding: 10px 20px;
  /* Padding for text */
  border: 1px solid #ccc;
  /* Light grey border */
  border-radius: 30px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transition: border-color 0.3s ease;
  /* Smooth border color transition */
}

.search-input:focus {
  outline: none;
  /* Remove default outline */
  border-color: #007bff;
  /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Highlight shadow on focus */
}

.search-input::placeholder {
  color: #aaa;
  /* Placeholder text color */
  opacity: 1;
  /* Ensure full opacity */
}


#account dialog {
  margin-top: 10%;
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 4px 6px lightblue;
}

.dropdown {
  margin-top: 5%;
  position: relative;
  display: inline-block;
  padding-bottom: 3%;
}

.dropdown-button {
  background-color: #6a69af;
  color: white;
  padding: 14px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 60%;
}

.dropdown-content {
  margin-top: 5%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropdown-button {
  background-color: #4544aa;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

}

#account img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}