uwsgi # for production environment
daphne # for production environment
asgiref
Django
Pillow
sqlparse
django-braces
django-embed-video
pymemcache
django-debug-toolbar
redis
django-redisboard
djangorestframework
requests
channels
channels-redis
psycopg2-binary # it should be binary
celery
django-allauth
pytz