<!DOCTYPE html>
{% load static %}
{% load allauth account %}
<html>
  <head>
    <title>
      Educa|{% block title %}

      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/course/base.css' %}" />
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}" />

    {% block head %}

    {% endblock %}
  </head>
  <body>
    {% include './header.html' %}
    {% if not default_start %}
      <dialog id="whole-loader" style="all: unset; margin-top: 10%;margin-left: 45%;">
        <div id="loader"></div>
        <p>Loading...</p>
      </dialog>
    {% endif %}

    <div id="content" style="display: none;">
      {% block body %}

      {% endblock %}
    </div>
    {% include './footer.html' %}
    {% block include_js %}
      <script type="application/json" id="search-url">
        {{request.get_host}}{%url 'course:search' %}
    </script>
    {% endblock %}
    <script>
            window.addEventListener("DOMContentLoaded",(event) => {
              // -------------------search logic here--------------------------------
              const searchInput = document.getElementById("search-input")
              const resultListElement = document.getElementById("search-result")
              var timeout;
              searchInput.addEventListener("input",function(event){
                const query =  searchInput.value;
                clearTimeout(timeout);
                timeout = setTimeout(()=>{
                  // fething
                  const url = "http://" + document.getElementById("search-url").innerText.trim()+"?query="+query;
                  fetch(url).then(response => response.json()).then(result =>{
                    const foundCourses = result.result
                    if (foundCourses.length> 0 ){
                      // if there were found any courses
                      // reseting the ul
                      resultListElement.innerHTML = ``
                      resultListElement.style.display = "block"

                      // adding courses titles as li elements to ul
                      foundCourses.forEach(course =>{
                        const li = document.createElement("li")
                        li.style.display = "block"
                        li.innerText = course[1]
                        resultListElement.appendChild(li)
                        // making it a link
                        li.addEventListener("click",function(e){
                          console.log('this url was made', window.location.protocol+ "//"+window.location.host+`/course/${course[0]}/detail` )
                          window.location.href = window.location.protocol+ "//"+window.location.host+`/course/${course[0]}/detail` 
                        })
                      })
                  }
                  else{
                        const li = document.createElement("li")
                        // showing the results ul
                        resultListElement.style.display = "block"
                        li.innerText = "No results..."
                        li.style.display = "block"
                        resultListElement.appendChild(li)

                      }
                  })
                },1000)
              })
              document.body.addEventListener("click",function(e){
                searchInput.value = searchInput.ariaPlaceholder
                resultListElement.style.display = "none"
              })
              // -------------------notification-------------------------------------
              const notf_dropdown = document.getElementById('notf-list')

              {%if request.user.student_profile%}
                {%for course_id in enrolled_courses_ids%}
                  handleNotf({{course_id}})
                {% endfor %}

              {%endif%}

              {%block domeready%}

              {%endblock%}

              function handleNotf(course_id){
                const websock_url = "ws://" + window.location.host + "/ws/notf/students/" + course_id + "/"
                console.log('generated url', websock_url)
                const notf_websock = new WebSocket(websock_url)
                console.log('connected to students_notification...')
                notf_websock.onmessage = async (event)=>{
                  const message = JSON.parse(event.data)
                  console.log('message came.....', message)
                    if (message.type=="recv_notf"){
                      console.log("message",message.notf)
                      const notf_text = message.notf
                      console.log(notf_dropdown)
                      notf_dropdown.innerHTML += `${notf_text}`
                    }
              }
            }
            // ---------------------loader---------------------------------------------
            const loader = document.getElementById("whole-loader")
            if (loader != null){
              loader.showModal()
              window.addEventListener("load",(event)=>{
                setTimeout(function(e){
                  loader.remove()
                  document.getElementById("content").style.display = "block"
                },200)
            })
            }
            else{
                document.getElementById("content").style.display = "block"

            }
          
          })
    </script>
  </body>
</html>
