<div id="header-main" class="d-flex" >
  <h1 id="course_title"><a href="/" class="container flex-column justify-content-left">Educa</a></h1>
  <div id="account">
    {% if user.is_authenticated %}
      <div class="dropdown">
        <a href="{%url '_account:show_profile'%}"><img src="{{user_profile.image.url}} "></a>
        <strong>Welcome! {{user.username}}</strong>
        <div class="dropdown-content">
            <a href="{%url '_account:show_profile'%}">
              Profile
            </a>
          <a href="{%url 'account_logout'%}">Logout</a>
        </div>
      </div>
      {% else %}
      <a class="btn btn-success mb-2 mt-2 z-10" style="margin-left: 80%;margin-top: 1%;" href="{% url 'account_login' %}" class="text-success">Sign in</a>
    {% endif %}
  </div>
  
</div>
