<header id="header-main">
  <h1 id="course-title"><a href="/">Educa</a></h1>
  <nav id="topnav">
    <div id="nav-links">
      {% if request.user.student_profile %}
        <a class="nav-link" href="{% url 'students:student_course_list' %}">My Courses</a>
      {% elif request.user.instructor_profile %}
        <a class="nav-link" href="{% url 'course:manage_course_view' %}">My Courses</a>
      {% endif %}
      {% if request.user.student_profile or request.user.instructor_profile %}
        <a class="nav-link" href="#">Chatroom</a>
      {% endif %}
      <a class="nav-link" href="#">Blog</a>
      <a class="nav-link" href="#"></a>
      <a class="nav-link" href="#"></a>
      <div style="position: relative;">
        <input id="search-input" class="search-input" type="text" placeholder="Search for anything..." aria-label="Search" />
        <ul id="search-result" role="listbox"></ul>
      </div>
    </div>
    <div id="account">
      {% if user.is_authenticated %}
        <div class="dropdown" aria-haspopup="true" aria-expanded="false">
          <a href="{% url '_account:show_profile' %}"><img src="{{ user_profile.image.url }}" alt="User Profile Image" /></a>
          <strong>Welcome! {{ user.username }}</strong>
          <div class="dropdown-content">
            <a href="{% url '_account:show_profile' %}">Profile</a>
            <a href="{% url 'account_logout' %}">Logout</a>
          </div>
        </div>
      {% else %}
        <a class="btn btn-success mb-2 mt-2" href="{% url 'account_login' %}">Sign in</a>
      {% endif %}
    </div>
  </nav>
</header>