{% extends 'base/base.html' %}
{% load cache %}
{% load static %}
{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/course/public_list.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/course/public_list_slider.css' %}" />
{% endblock %}
{% block body %}
  {% for sub in subjects %}
    <h1>{{ sub }}</h1>
    <div class="course-list">
      <div class="slider">
        <div class="slider-box">
          {% for course in sub.courses.all %}
            {% with subject=course.subject %}
              <div id="item">
                
                <a href="{%if not course.modules.count == 0 %}{% url 'course:course_detail' course.slug %}{%else%}{%endif%}">
                    <img src="{{ course.image.url }}" alt="ٔcourse-{{ course.title }}-image" class="slider-img" />
                    <strong>{{ course.title }}</strong>
                </a>
                <p>{{ course.modules.count }} modules.</p>
                <a href="#">
                    <p>Instructor: {%if course.instructor == request.user%}You{%else%}{{ course.instructor.username }}{%endif%}</p>
                </a>
              </div>
            {% endwith %}
          {% endfor %}
        </div>

        <button class="button btn-left"><span>&lt;</span></button>
        <button class="button btn-right"><span>&gt;</span></button>
        <script src="{% static 'js/public_list.js' %}"></script>

      </div>
    </div>
    <br />
  {% endfor %}
{% endblock %}
