{% extends "base/base.html" %}
{%load mytags%}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block body %}
    <!--module title-->
    <h1>
        {{ object.title }}
    </h1>
    <p style="text-align: right;"><a class="btn btn-primary" style="margin-right: 10%;" href="{%url 'chat:course_chatroom' object.id%}">Join Chatroom</a></p>
    {%if test%}
    <p style="text-align: right;"><span class="btn btn-primary" style="margin-right: 10%;" >Ongoing Test</span></p>
        <ul style="text-align: right;">
            
            <li><a href="{%url 'students:join_exam' test.id%}"> {{test.title}}</a></li>
        </ul>
    {%endif%}    
    <h3>Your Progress <input type="range" value="{{course_progress_rate}}"> </h3>
    <!--modules of this course-->
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif%}>
                    <a href="{% url "course:st_module_content_list" object.id  m.id %}">
                        <span>
                            Module <span class="order">{{ m.order|add:1 }}</span>
                        </span>
                        <span>
                            Progress <input type="range" value="{{modules_seen_rates|get_key_vale:m.id}}">
                        </span>
                        <br>
                        {{ m.title }}
                    </a>
                </li>
                {% empty %}
                <li>No modules yet.</li>
            {% endfor %}
        </ul>
    </div>
    <!-- contents of the first module of the course as a sample -->
    <div class="module">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}<!--what is render; it is displaying whatever the content be-->
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}